/* Basic Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
    text-align: center;
    padding: 20px;
}

h1, h2 {
    color: #333;
    margin-bottom: 20px;
}

/* Centering the charts */
canvas {
    max-width: 600px;
    margin: 20px auto;
    display: block;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-top: 50px;
}

/* Style for file upload input */
input[type="file"] {
    margin: 20px auto;
    display: block;
}
